:root {
    --background-darkColor: #009788;
    --background-lightColor: #D8DBD6;
    --program-frame-color: #EAEAEA;
    --program-active-chat: #E9EBEB;
    --program-section-input-text: #F3EEEA;
    --program-sent-message: #D4FAB7;
    --program-received-message:  white;
    --detail-color: grey;
    --notice: #8BDAFE;
    --search: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.background-container {
    width: 100%;
    height: 100vh;
    background-color: var(--background-lightColor);
}

.background-container-top {
    background-color: var(--background-darkColor);
    height: 150px;
}

.program-container {
    min-width: 1000px;
    height: 600px;
    position: absolute;
    z-index: 9999;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.user-list {
    width: 35%;
    border-right: 1px solid lightgray;
}

.chat {
    width: 65%;
}

.avatar-and-icons {
    background-color: var(--program-frame-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.avatar {
    display: flex;
    align-items: center;
}

.icons {
    color: #B1B1B1;
}

.fa-solid  {
    padding: 0 5px;
    font-size: 20px;
}

.avatar-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.avatar-name {
    margin-left: 10px;
}

.avatar-img img {
    width: 100%;
    border-radius: 50%;
}

/* LEFT *********************************************************** LEFT */

.notice {
    display: flex;
    align-items: center;
    background-color: var(--notice);
    padding: 10px 5px;
}

.notice-icon-container {
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice-icon-container i {
    color: var(--notice);
}

.notice-text {
    margin-left: 10px;
    line-height: 14px;
}

.new-notice-text {
    font-size: 14px;
}

.new-notice-on {
    color: var(--detail-color);
    font-size: 12px;
}

.search {
    padding: 10px 0;
    background-color: var(--search);
    text-align: center;
}

.search-icon {
    display: inline;
    width: 10%;
    border: 1px solid lightgray;
}

.search-icon i {
    font-size: 15px;
    color: var(--detail-color);
}

.search-input-container {
    border: 1px solid lightgray;
    width: 85%;
    display: inline-block;
}

.search-input {
    border-color: transparent;
    width: 100%;
    padding-left: 5px;
}

.contacts {
    overflow-y: auto;
    background-color: white;
    height: calc(100% - 165px);
}

.contact-card {
    padding: 10px;
}

.contact-avatar {
    display: flex;
    justify-content: space-between;
    line-height: 18px;
}

.last-msg {
    padding-left: 10px;
    font-size: 12px;
}

.last-msg, .msg-time {
    color: var(--detail-color);
    font-size: 12px;
}

/* RIGHT *********************************************************** RIGHT */


.chat-avatar-text .last-msg {
    color: gray;
}

.chat-area {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 105px);
    overflow-y: auto;
    padding: 30px;    
}

.chat-new-msg {
    height: 50px;
    background-color: var(--program-frame-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.chat-emoji, .chat-voice {
    width: 50px;
}

.chat-input-container {
    width: 100%;
}

.chat-input-container input {
    width: 100%;
    line-height: 30px;
    border-radius: 5px;
    border: transparent;
    padding-left: 5px;
}

.chat-new-msg i {
    color: var(--detail-color);
}

.msg-shape {
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 20px;
    display: block;
}

.received-msg {
    background-color: var(--program-received-message);
    right: 20px;
    float: left;
    clear: right;
}

.sent-msg {
    background-color: var(--program-sent-message);
    clear: left;
    float: right;
}

.msg-shape .msg-time {
    text-align: right;
}



