<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>

        <link rel="stylesheet" href="css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <div id="app">
            <div class="background-container">
                <div class="background-container-top"></div>
                <div class="program-container">
                    
                    <div class="user-list">
                        <div class="avatar-and-icons">
                            <div class="avatar">
                                <div class="avatar-img">
                                    <img src="img/avatar_io.jpg" alt="">
                                </div>
                                <div class="avatar-name">Sofia</div>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="notice">
                            <div class="notice-icon-container">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="notice-text">
                                <div class="new-notice-text">Ricevi notifiche di nuovi messaggi</div>
                                <a href="#" class="new-notice-on">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <div class="search">
                            <div class="search-container">
                                <div class="search-icon">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="search-input-container">
                                    <input type="text" class="search-input" placeholder="Cerca o inizia una nuova chat">
                                </div>
                            </div>
                        </div>
                        <div class="contacts">
                            <div class="contact-card" @click="currentContact = index" v-for="(contact, index) in contacts">
                                <div class="contact-avatar">
                                    <div class="contact-avatar-left avatar">
                                        <div class="avatar-img">
                                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                        </div>
                                        <div class="contact-avatar-text">
                                            <div class="avatar-name">{{contact.name}}</div>
                                            <div class="last-msg">Ultimo messaggio inviato</div>
                                        </div>
                                    </div>
                                        
                                    <div class="msg-time">12:00</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
    
                    <div class="chat">
                            <div class="avatar-and-icons">
                                <div class="avatar">
                                    <div class="avatar-img">
                                        <img :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'" alt="contactname">
                                    </div>
                                    <div class="chat-avatar-text">
                                        <div class="avatar-name">{{contacts[currentContact].name}}</div>
                                        <div class="last-msg">Ultimo messaggio inviato</div>
                                    </div>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
        
                            <div class="chat-area">
                                <div class="messages">
                                
                                    <div class="received-msg msg-shape" v-for="(message, index) in contacts[currentContact].messages">
                                        {{message.message}}
                                        <div class="msg-time">12:00</div>
                                    </div>
                                    <div class="sent-msg msg-shape" v-for="(msg, index) in newMessagelist">
                                        {{msg}}
                                        <div class="msg-time">12:00</div>
                                    </div>
                                </div>
                                
                                
                            </div>
        
                            <div class="chat-new-msg">
                                <div class="chat-emoji">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <div class="chat-input-container">
                                    <input v-model="newMessage" type="text" placeholder="Scrivi un messaggio" @keyup.enter="addElement">
                                </div>
                                <div class="chat-voice">
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>